.landing{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;

}

img {
  height: 25%;
  width: auto;
}

.up-quote {
  align-self: flex-start;
  margin-top: 10%;
  margin-right: 2%;
}

.down-quote {
  margin-top: 20%;
  align-self: flex-end;
  margin-bottom: 10%;
  margin-left: 2%;
}

.quote-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;



  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-grow: 2; */
  padding: 0;
  /* align-content: space-between; */


}

.quote-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 180%;
  text-align: center;
  margin-top: 10%;
}

.line-1 {
  margin-bottom: 10px;
}


.typewriter-text {
  margin-top: 0;
  font-size: 450%;
  padding: 0px;
  color:  var(--dark-blue)

}

.more {
  justify-content: center;


}

a {
  display: flex;
  align-items: center;
  color: grey;
  text-decoration: none;
}

.custom-icon {
  width: 50px;  /* Example width */
  height: 50px; /* Example height */
  fill: blue;    /* Example fill color */
}

.chevron {
  width: 30px;
  height: auto;
  color: grey;
}
